* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

/* The Modal (background) */
.modal {
    visibility: hidden;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(255, 255, 255, 0.8);
    /* Black w/ opacity */

    opacity: 0;
    transition: opacity 0.5s ease-in, visibility 0s ease-in 0.5s;

}

/*show modal*/
.modal.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in, visibility 0s ease-in 0s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Modal Content*/
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image, Same Width as the Image */
#modal-caption {
    font-size: 30px;
    padding: 10px 50px 20px;
    position: absolute;
    bottom: 8px;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: rgb(255, 0, 0);
    padding: 2px 16px;
    height: 150px;
}

/* Modal Animation-start with Zoom in to show */
.modal-content,
#modal-caption {

    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.4s;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

/*100% Image width on Smaller Screens*/
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* Hide the images by default */
.mySlides {
    display: none;
    animation-name: fadeInFast;
    animation-duration: 1s;
}

@keyframes fadeInFast {
    0% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

/* Next & previous buttons */
.prev,
.next {
    background-color: #f2f2f277;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -50px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 20%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #f2f2f2a8;
}



/* Number text (1/3 etc) */
.numbertext {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dots {
    position: absolute;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: rgba(0, 0, 0, 0.2);
}